<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Persons management</title>
    <script>
        {% include "main.js" %}
    </script>
</head>
<body id="body" onload="getPage('/page/persons')">
</body>
</html>
